body {
  margin: 0;
  padding: 0;
}
table {
  border-spacing: 40px;
}
td {
  text-align: center;
  height: 400px;
  min-width: 400px;
}
td div {
  position: relative;
  vertical-align: center;
  width: 400px;
  height: 400px;
}
div img {
  vertical-align: middle;
  max-height: 100%;
  max-width: 100%;
}
.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
img:hover {
  opacity: 0.3;
}
#content {
  min-width: 100%;
  display: inline-block;
}
.container {
  margin: 0 auto;
}
.container table {
  margin: 0 auto;
}
